*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: 15vw 15vw 15vw 15vw 15vw 15vw;
    justify-content: center;
    align-content: start;
    grid-gap: 1vw;
}
.container-flex{
    display: flex;
}

h1{
    grid-column:span 6;
    padding-left: 4vh;
    padding-top: 15vh;
    font-family: Tahoma;
    color: rgb(82, 78, 78);
    line-height: 40px;
    font-size: 20px;}

#logo{
    grid-column: 3/5;
}
#logo img{
    width: 30vw;

}
nav{
    width: 100vw;
    grid-column: span 6;
}
nav ul li{
    display: inline;
    list-style: none;
    text-decoration: none; 
    word-spacing: 6vh;
}
nav ul li a{
    text-decoration: none;
    font-family: Tahoma;
    font-size: 18px;
    text-align:start;
    color: rgb(82, 78, 78);
   
}

header{
    width: 100vw;
    position: fixed;
    word-spacing: 4.03vh;
    background-color: #fff;
}
section{
    width: 100vw;
}
section div{
    grid-column: span 6;
}

    
#Sobre div div{
    float: left;
    width: 50%;
    align-self: flex-end
    
}
#Sobre div div img{
    width: 90%;
    border: black 1px solid;
}
#Sobre{
    letter-spacing: 1px;
    line-height: 20px; 
}
#Sobre div p{
    font-family: Tahoma;
    color:rgb(82, 78, 78);
    padding-top: 5vh;
    text-indent: 20px;
    text-align: center;
}

#responsivo{
    display:none;
}
#hCursos{
    border: 1vh solid black;
}
#Cursos div img {
    width:100%;
}

#Cursos div h2{
    text-align: Center;
    padding:2vh 0 2vh 0;
    margin-top:0vh;
    background-color:#ddd;

    
}
#curso-wd{
    border-top:1vh solid rgb(165, 39, 117);
    font-family:Helvetica;
    color: rgb(82, 78, 78);
}

#curso-prog{
    
    border-top: 1vh solid rgb(28, 111, 136);
    font-family:Helvetica;
    color: rgb(82, 78, 78);
}
#curso-bd{
     
    border-top:1vh solid rgb(53, 228, 0);
    font-family:Helvetica;
    color: rgb(82, 78, 78);
}

#planos div{
    align-self: flex-end;
    width: 30%;
}
#planos div{
width: 100%;
padding: 2vh 0 2vh 0;

}
#planos div h2{
background-color: #fff;
text-align: center;
width: 95%;
margin-left: 2.5%;
border: 1px solid black
}
#planos div strong{
font-size: 20px;
margin-left: 5% ;
}
#planos div p{
margin-left:1vw;
font-size: 22px;
line-height: 2;
}
#planos #info{
background-color: #fff;
width: 95%;
margin-left: 2.5%;
}

#plano-basico{
background-color: #6e4016;
}
#plano-completo{
background-color: #c9c9c9;
}
#plano-vip{
background-color: #c7c701;
}
     h2#a{
         border: solid thin 1vh #fff;
         padding:0.5vh;
         margin-top: 3vh;
         border-left: solid 1.5vh rgb(6, 34, 126);
        font-family: Helvetica;
    font-size: 3vh; 
    color:rgb(82, 78, 78);
}
    h2#e{
        border: solid thin 1vh #fff;
        padding:0.5vh;
        margin-top: 3vh;
        border-left: solid 1.5vh rgb(15, 221, 77);
       font-family: Helvetica;
   font-size: 3vh; 
   color:rgb(82, 78, 78);
}
   h2#i{
    border: solid thin 1vh #fff;
    padding:0.5vh;
    margin-top: 3vh;
    border-left: solid 1.5vh rgb(110, 17, 110);
   font-family: Helvetica;
font-size: 3vh;
color:rgb(82, 78, 78);
}
h2#o{
    border: solid thin 1vh #fff;
    padding:0.5vh;
    margin-top: 3vh;
    border-left: solid 1.5vh rgb(0, 255, 200);
   font-family: Helvetica;
font-size: 3vh;
color:rgb(82, 78, 78);
 }
h2#u{
    border: solid thin 1vh #fff;
    padding:0.5vh;
    margin-top: 3vh;
    border-left: solid 1.5vh rgb(238, 10, 124);
   font-family: Helvetica;
font-size: 3vh; 
color:rgb(82, 78, 78);
}
h2#V{
    border: solid thin 1vh #fff;
    padding:0.5vh;
    margin-top: 3vh;
    border-left: solid 1.5vh rgb(0, 0, 0);
   font-family: Helvetica;
   font-size:3vh;
   color:rgb(82, 79, 79);
   
 }
 p#li{
   
   padding-top:2vh;
 font-family: Arial ;
 color:rgb(82, 78, 78);

 }

@media only screen and (min-width: 900px){
    #logo{
        grid-column: 1/2;
    }
    #logo img{
        width: 10vw;
        padding-top: 3vh;

    }
    nav{
        grid-column: 3/6;
        padding-top:5vh;
        margin-left: 5vh;
    }
    section div{
        grid-column: span 2;
    }
    #Sobre div{
        grid-column: span 3;
    }

    #responsivo{
        margin-top:1vh;
        display:block;
    }

    #Cursos{
        display:flex;
       
    }
    #Cursos div{
        align-self: flex-end;
        width: 30%;
    }
    #planos{
        display: flex;
    }
    #planos div{
        align-self: flex-end;
        width: 30%;
    }
  #planos div{
    width: 100%;
    padding: 2vh 0 2vh 0;

}
#planos div h2{
    background-color: #fff;
    text-align: center;
    width: 95%;
    margin-left: 2.5%;
    border: 1px solid black
}
#planos div strong{
    font-size: 20px;
}
#planos div p{
    margin-left:1vw;
    font-size: 22px;
    line-height: 2;
}
#planos #info{
    background-color: #fff;
    width: 95%;
    margin-left: 2.5%;
}

#plano-vip{
    background-color: #77770a;
}
#plano-completo{
    background-color: #a79e9e;
}
#plano-basico{
    background-color: #6d3d10;
}